*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

.header .navbar-nav{
    margin-left: auto !important;
}
.header .navbar-nav .nav-btnn a{
    color: white;
    margin: 5px;
    padding: 30px;
    font-size: 20px;
}
.header .navbar-nav .nav-btnn a:hover{
    border: 1px solid white;
    border-radius: 40px;
    color: white;
}
.header .navbar-nav .nav-btn-blue a{
    background-color:#29626D;
    border-radius: 40px;
    border: 1px solid white;
}
.header .navbar a img{
    margin-left: 50%;
}

.contactus-dec-img img{
    width: 100vw;
    height: auto;
}

.contactus{
    flex: none !important;
}